/* 
*  Dirty Bastard V1.1
*
*  HTML5 Boilerplate 2.0 (http://html5boilerplate.com/), Skeleton (getskeleton.com),  1140px Grid (cssgrid.net), 
*  Less-CSS (lesscss.org)
* 
*  An unholy union, fused together by Orry Baram aka dirtydaub
*
*  (form and buttons styled in base.less)
*/


/* Global
=========================================================================
*/


/* Typography
=========================================================================
*/


/* Header
=========================================================================
*/
header { 
	
}

/* Main
=========================================================================
*/
.main {

}



/* Footer
=========================================================================
*/
footer {
	
}

/* Misc
=========================================================================
*/

/* selection color */
::-moz-selection { background: #F968BF; color: #FFF; text-shadow: none; }
::selection { background:#F968BF; color: #FFF; text-shadow: none; } 



